.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    width: 500px;
    margin: 0 auto;
}

.main h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    text-align: center;
}
