.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 25vh;
    /* width: 500px; */
}

.main h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    text-align: center;
}
